header {
  height: 25vh;
  text-align: center;
  h1 {
    font-size: 3.5rem;
    font-weight: normal;
  }
}

.container {
  width: calc(100% - 16px);
  height: calc(100% - 25vh);
  margin: 0rem 8px 0;
  .table {
    display: table;
    width: 100%;
    height: calc(100% - 0.75rem);
    > div {
      display: table-cell;
    }
  }

  #reservation-list {
    position: relative;
    margin: 0 10px;
    .scroll {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow-y: scroll;
      padding: 0 12px;
    }
  }
  #reservation-detail {
    width: 350px;
  }
}

.none {
  display: none;
}

@media only screen and (max-width: 1023px) {
  header {
    display: flex;
    height: 20vh;
    text-align: center;
    align-self: center;
    h1 {
      align-self: center;
      font-size: 2.25rem;
      font-weight: normal;
    }
  }

  .container {
    height: calc(100% - 20vh);
    #reservation-list {
      .scroll {
        padding: 0;
      }
    }
  }
}