@import '@/styles/colors.scss';
@import '@/styles/variables.scss';

.card {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  margin: 0.85rem 0;
  padding: 0.85rem 1rem;
  background: $white;
  border-radius: 10px;
}

.card-left, .card-action {
  padding: 0.85rem;
}

.card-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  .status {
    margin-top: 0.5rem;
  }
  .reserved {
    color: $green;
  }
  .seated {
    color: $primary;
  }
}

.card-content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: $font-size-sm;
  .card-visitors {
    margin: 0.5rem 0;
  }
}

.card-action {
  align-self: center;
  .action-btn {
    width: 100%;
    padding: 0.5rem 0;
    background: $primary;
    border: none;
    border-radius: 5px;
    color: $white;
    font-size: $font-size-base;
    &.seated {
      background: $white;
      border: 1px solid $primary;
      color: $primary;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .card {
    grid-template-columns: 1fr 2fr 1fr;
    margin: 0.85rem 0;
    padding: 0.85rem 0.25rem;
  }
  .card-left, .card-action {
    padding: 0.5rem;
  }
  .card-action .action-btn {
    font-size: $font-size-sm;
  }
}