html, body, #app, main {
  height: 100%;
}

body {
  margin: 0;
  background-color: #CED8E4;
}

main {
  display: flex;
  flex-direction: column;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.multiline-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: pre-wrap;
}